<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleIdentifier</key>
		<string>com.awawa-dev.hyperhdr</string>
		<key>CFBundleName</key>
		<string>Ambilight App</string>
		<key>CFBundleExecutable</key>
		<string>ambilightapp</string>
		<key>CFBundleIconFile</key>
		<string>Ambilightapp.icns</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>NSCameraUsageDescription</key>
		<string>Ambilight App needs your permission to access the video capture devices.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Ambilight App needs your permission to access the sound capture devices.
NEXT PLEASE RESTART AMBILIGHTAPP!</string>		
	</dict>
</plist>